{% extends "layout.html" %}
{% block body %}
    <div class="main_div">
        <div id="stimulus">
            <h1>Find the answer to this question on wikipedia:</h1>
            <div><blockquote><p>{{ experiment.research_prompt }}</p></blockquote></div>
            <p>When you are done, close the window that opened and return here.</p>

            <button type="button"
                id="request-external-monitoring" data-urls="https://*.wikipedia.org/*"
                class="btn btn-success btn-lg requires-dallinger-extension"
                style="display:none"
                disabled="disabled"
                data-instructions="Find the answer to this question on wikipedia:
                    {{ experiment.research_prompt }}">Begin</button>
            <button type="button"
                id="end-external-monitoring" data-urls="https://*.wikipedia.org/*"
                class="btn btn-success btn-lg requires-dallinger-extension"
                style="display:none"
                data-instructions="Find the answer to this question on wikipedia:
                    {{ experiment.research_prompt }}">End</button>
        </div>
    </div>
{% endblock %}
